.bg-tutorial {
    background-color: rgba(192, 175, 136, 0.699);
    height: auto;
    padding: 50px;
  }
  
.bg-tutorial1 {
    background-color: rgba(240, 230, 217, 0.733);
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }
  .grid-container-tutorial {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item-tutorial {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }