
.NavbarItems {
    background: rgba(161, 128, 79, 0.925) ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Mali', cursive;
    text-shadow: 2px 2px 4px  rgba(214, 176, 119, 0.925);
    /* text-shadow: 2px 2px 4px  rgba(187, 130, 44, 0.925);
    */
}

.navbar-logo{
    font-size: 30px;
    color: white;
    justify-content: start;
    cursor: pointer;
    font-family: 'Mali', cursive;
    text-shadow: 3px 3px 4px rgba(43, 28, 7, 0.925);
    font-weight: bold;

}

.nav-menu {
    padding: 120px;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap:30px;
    list-style: none;
    text-align: center;
}

.nav-links,.dropdown,.nav-links-mobile{
    color: white;
    text-decoration: none;
    padding: 0.2rem 0.9rem;

}
.nav-links-mobile{
    background-color:rgba(110, 76, 26, 0.925);
    border-radius: 15px;
}

.nav-links:hover{
    background-color: rgba(110, 76, 26, 0.925);
    border-radius: 15px;
    
    color: white;
   

}
.nav-links-mobile:hover{
    background-color:rgba(110, 76, 26, 0.925);
    border-radius: 6px;
   
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: white;
}



.menu-icon{
    display: none;
}
.dropdown,.bell {
    color: white;
   
}
.dropdown-menu{
    font-size: 10px;
    width: 20px;
    padding: 0rem 0rem;

}
.hidden{
    display: none;
}

 @media screen and (max-width: 1024px) {
    .NavbarItems {
        position: relative;
       
   
    }
    .position-search{
        position: relative;
        left: 115px;

        
    }
    .noti{
        position: relative;
        left: 110px;
    }
    .nav-menu,.nav-links-mobile{
        display: none;
        flex-direction: column;
        width: 100%;
        height: 250px;
        position: absolute;
        top:60px;
        opacity: 1;
        transition: all 0.5s ease;
        margin-top: 20px;

    }
    .carousel {
        z-index: 1;
    }
    
    .nav-menu.active{
       background:  rgba(161, 128, 79, 0.925) ;
        padding: 1.2rem;
        display: table;
        width: 100%; 
        z-index: 10;
    }
    .nav-links-mobile{
        display:none;
      
    }
    .hidden{
        display:inline-block;
        color: white;
       
        border-radius: 10px;
    
    }
    .hidden:hover{
        color: white;
        background-color:rgba(85, 52, 4, 0.925);
        border-radius: 10px;
        
        transition: all 0.2s ease-out;
    }
    .nav-links:hover{
        background-color: rgba(85, 52, 4, 0.925);
        border-radius: 15px;
        width: 200px;
        color: white;
    
    }

    .navbar-logo{
        position: absolute;
        top: 10px;
        left: 20px;
        
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        transform: translate(-100%, 60%);
        font-size: 1.0rem;
        cursor: pointer;
    }

    .fa-times{
        color: white;
        font-size: 1.2rem;
    
    }

    li.itemlist{
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
 }
 
